# Dependencies
node_modules/
.pnp/
.pnp.js

# Production & Packaging Builds
dist/
out/
build/
release/
*.tsbuildinfo

# Mod Generation Staging & Runtime Backups
.staging_pack/
.staging_icons/
# Standalone Binaries
tools/Source2Viewer-CLI.exe
tools/*.dll
*.temp
temp/
tmp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Electron Crash Reports
CrashDumps/
*.dmp

# Environment Variables & Local Config
.env
.env.local
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Directories
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Executable binaries (preserve bundled tools)
*.exe
!tools/*.exe
